:root {
  --transition: all 0.4s ease;
  --nav-color: #683fb5;
  --darkest-color: #4e2f88;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
}

/* General Styles */

body {
  font-family: "Roboto", sans-serif;
}

.center-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circ-progress {
  color: var(--nav-color) !important;
}

.page {
  padding: 2rem 1rem;
}

.profile-card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1rem 2rem;
}

.profile-card .avatar {
  max-width: 100px;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

/* NAVBAR */

#header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#header div {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #fff;
}

#header .auth-options {
  height: 100%;
  display: flex;
}

#header .auth-options button {
  padding: 0 1rem;
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  transition: var(--transition);
}

#header .auth-options button:hover {
  background-color: var(--darkest-color);
}

/* FORM */
.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form textarea {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.3rem;
  border: solid 1px #c2c2c2;
  background: #eee;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
}

.form input:focus {
  border: solid 1px #2199df;
  box-shadow: inset 0px 0px 5px hsl(202, 75%, 50%, 0.5);
  outline: none;
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: solid 1px #230632;
  border-radius: 8px;
  background: var(--nav-color);
  color: #fff;
  font-size: 1.1rem;
  transition: var(--transition);
}

.form input[type="submit"]:hover {
  background: var(--darkest-color);
}

.drop-zone {
  padding: 1rem 0;
}

.file-drop {
  border: dashed 2px #c2c2c2;
  width: 200px;
  height: 100px;
  padding: 1rem 0.2rem;
  text-align: center;
  background: #eee;
  cursor: pointer;
}

/* ERROR NOTICE */

.error-notice {
  padding: 0.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  border: solid 1px #cb4f4f;
  background: #e89494;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #cb4f4f;
  color: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }

  #header .auth-options button {
    font-size: 0.9rem;
    padding: 0 0.5rem;
  }
}
